/*  This is a comment in CSS.
    HTML5 Responsive Web Design Template
    by Stefan Schultz
    for MDDN 352: Mobile Media (T1 2018)
    - If you use this template, remove most of the comments for production, or minify your HTML. -
*/


/* -------- Base styles - these will always apply, no matter what. -------- */

html {
    font-family: 'Nunito', sans-serif;
    /* Here we say that every piece of text should be in the Roboto font we loaded from Google in the HTML header; if that can't load, use the browser default sans serif font. */

    font-size: 16px;
    /* This tells every piece of text should default to 16px in size. We'll use other values as multipliers of this later, but this ensures styling consistency across browsers/platforms. */

    color: rgb(70,70,85);
    /* This sets all text to be a very dark, slightly blue grey. You can specify a named color, a hex code (#FFFFFF, e.g.), use rgb or hsl, or use rgba/hsla for color with alpha (translucency). */

    overflow-x: hidden;
    /* This is telling the browser to hide anything that goes off the left and right edges of the page, and not let the user scroll to see it. */

}

body {
    width: 100%;
   /* background-color: #FF412D;*/
}


.flex-container {
  display: flex;
 /* background-color: blue;*/
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}


.flex-container > #money {
 
  background-color: blue;
  height: 25vw;
  width: 52vw;
  flex-shrink: 1;
  background-size: cover;
 background-image: url('../img/20508384308_1492ff416c_o.jpg')

}






p, i{
  opacity: 0;
  text-align: center;
/*  -webkit-animation-delay: 15s;*/
-webkit-animation-name: fadein;
-webkit-animation-duration: 5s;
-webkit-animation-delay: 2s;
-webkit-animation-fill-mode: forwards;

/*-webkit-animation:fadein -10s 4s;*/


}

 @-webkit-keyframes fadein {
   from {opacity: 0;}
    to   { opacity: 1; }
}
 

  #scroll{
   
    /*background-color: orange;*/
   margin-top: 2%;
   letter-spacing: 0.25em;
   font-size: 0.75em;
    /*margin-bottom: 2%;
    width:100%;
    margin-bottom: 5%;*/
  }
    



.container {
  display: flex;
 /* background-color: pink;*/
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

i {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#info{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
}