


/* -------- Base styles - these will always apply, no matter what. -------- */

html {
    font-family: 'Nunito', sans-serif;
    /* Here we say that every piece of text should be in the Roboto font we loaded from Google in the HTML header; if that can't load, use the browser default sans serif font. */

    font-size: 16px;
    /* This tells every piece of text should default to 16px in size. We'll use other values as multipliers of this later, but this ensures styling consistency across browsers/platforms. */

    overflow-x: hidden;
    /* This is telling the browser to hide anything that goes off the left and right edges of the page, and not let the user scroll to see it. */

}

body {
    width: 100%;
   
}

/*first page*/


.flex-container {
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}


.flex-container > #money {
 
 
  height: 25vw;
  width: 52vw;
  flex-shrink: 1;
  background-size: cover;
 background-image: url('../img/20508384308_1492ff416c_o.jpg')

}






p, i{
  opacity: 0;
  text-align: center;
-webkit-animation-name: fadein;
-webkit-animation-duration: 5s;
-webkit-animation-delay: 0.5s;
-webkit-animation-fill-mode: forwards;
letter-spacing: 0.25em;



}

 @-webkit-keyframes fadein {
   from {opacity: 0;}
    to   { opacity: 1; }
}
 

  #scroll{
   margin-top: 2%;
   letter-spacing: 0.25em;
   font-size: 0.75em;
    
  }
    

i {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;

}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/*second page*/

h1{
  font-family: 'Palanquin', sans-serif;
  letter-spacing: 0.4em;
}


.container-info {
  display: flex;
 
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


#info{
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;

}


.container-info > #information {
 
  
flex-shrink: 1;
margin: 20%;
line-height: 1.6;

}


/*third page*/


.container-use {
  display: flex;

  min-height: 100%;
  width: 100%;
  flex-wrap: wrap;
}


.container-use > #image-use{

background-color:pink;
flex: 58.33%;
width: 58.33vw;
height: 100vh;

background-image: url('../img/women.jpg');
background-size: cover;



}

#use{
flex: 41.67%;
width: 41.67vw;
height: 100vh;

}

h2{
   font-family: 'Palanquin', sans-serif;
   text-transform: uppercase;
   margin: 10%;
   margin-top: 55%;
   text-align: left;
   letter-spacing: 0.25em;
   font-weight:bolder;
   line-height: 1.6;
}

#idea{
margin: 10%;
letter-spacing: 0.25em;
text-align: left;
line-height: 1.6;

}


/*fourth page*/

.container-four {
  display: flex;
  padding: 10%;
 
  min-height: 80%;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;

 
}



#app{

font-size: 3em;

margin-top:1;
text-align: left;
}

#pi{
  letter-spacing: 0.25em;
}



#phone{

flex: 25%;
max-width: 25%;

padding: 1%;


  
}

img {


   
     width: 100%;


    

}












/*fifth page*/
.container-five {
  display: flex;

  min-height: 100%;
  width: 90%;
  flex-wrap: wrap;
}

#five{

flex: 45%;
max-width: 45%;


}

#tech{

flex: 55%;
max-width: 55vw;

height: 80vh;


}

#easy{
  letter-spacing: 0.25em;
  margin-top: 5%;
}









/*sixth page*/

.container-six {
  display: flex;

  min-height: 50%;
  width: 100%;
  flex-wrap: wrap;
}



.container-six > #map{

background-color:pink;
flex: 50%;
width: 50vw;
height: 80vh;

background-image: url('../img/map.jpg');
background-size: cover;

}

.container-six > #six{


flex: 50%;
width: 50vw;
height: 80vh;



}



#desktop{

margin-top: 35%;
font-size: 2.5em;
text-align: center;


}

#real{
  letter-spacing: 0.25em;
}
/*seventh page*/

.container-eight {
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}



.container-eight > #eight {
 

  height: 30vw;
  width: 30vw;
  flex-shrink: 1;
  background-size: cover;
 background-image: url('../img/kate.png')

}



.container-seven{
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
 

}
#technologies{
  margin:5%;
  font-size: 2em;
  text-align: center;
}

#a{
text-align: left;
line-height: 1.6;
letter-spacing: 0.25em;
}

.flex-container > #techno {
 
  background-color: blue;
  height: 25vw;
  width: 52vw;
  flex-shrink: 1;
  background-size: cover;
 background-image: url('../img/20508384308_1492ff416c_o.jpg')

}



@media (max-width: 755px){
 
 h2{
  margin-top: 5%;
 }

 #image-use{
  flex: 100%;
  max-width: 100%;

 }

}

















